@import "../uni.scss";
.main-title{
	display: flex;
	align-content: center;
	padding:10rpx 0  20rpx 28rpx;
	border-bottom:1px solid $uni-border-color;
	.line{
		width: 8rpx;
		font-size: 32rpx;
		height: 32rpx;
		border-radius: 8rpx;
		background-color: $uni-bg-color ;
	}
	.text{
		margin-left: 10rpx;
		font-size: 32rpx;
		line-height: 32rpx;
		color: $uni-bg-color;
	}
}
.bottom-line{
	padding: 50rpx 0 45rpx 0;
	text-align: center;
	font-size: 24rpx;
	color: $uni-text-color-grey;
}
.draw-back{
	textarea {
	  box-sizing: border-box;
	  width: 670rpx;
	  height: 230rpx;
	  padding: 20rpx;
	  margin: 20rpx 40rpx;
	  background: #f5f5f5;
	  border-radius: 5px;
	}
}
.order{
	textarea {
	  box-sizing: border-box;
	  width: 470rpx;
	  height:190rpx;
	  padding: 20rpx;
	  margin: 30rpx 40rpx;
	  text-align:left;
	  font-size:28rpx;
	  background: #f5f5f5;
	  border-radius: 5px;
	  color: #333;
	}
}